// body {
//   background-color: $light-gray;
// }
$mobile: new-breakpoint(max-width 650px);
$tablet: new-breakpoint(max-width 768px);
$mediumscreen: new-breakpoint(max-width 1100px);
.dualbox {
  @include outer-container;
  img {
    margin-bottom: 1em;
  }

  .textbox {
    @include span-columns(8);
    @include media($mediumscreen) {
      @include span-columns(7);
    }
    @include media($tablet) {
      @include span-columns(6);
    }
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .photobox {
    @include span-columns(4);
    @include media($mediumscreen) {
      @include span-columns(5);
    }
    @include media($tablet) {
      @include span-columns(6);
    }
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .photohalf {
    @include span-columns(6);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .photothird {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
    }
  }
}
.side-image-content {
  text-align: left;
  h1.rsvp-header {
    font-family: "Rubik Mono One", sans-serif;
  }
}
