.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: 53.75em !default;
  $hero-color: rgba(255, 247, 118, 0.76);
  $gradient-angle: 10deg;
  $hero-image: "../images/symetrictop.jpg";

  background: url($hero-image),
              no-repeat scroll;
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-inner {
    @include outer-container($max-width);
    @include clearfix;
    margin: auto;
    padding: 1.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      color: $hero-color;
      -webkit-text-fill-color: rgba(255, 247, 118, 0.68);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $blue;
      #header {
        opacity: 0;
      }
      h1 {
        font-size: 3.375em;
        margin-bottom: 0.296em;
        font-weight: normal;
        letter-spacing: 0.05em;
        .amp {
          font-size: 1.5em;
          line-height: normal;
        }
        @include media($large-screen) {
          font-size: 7.594em;
          -webkit-text-stroke-width: 4px;

        }
      }
      @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }
      h3 {
        font-size: 2.25em;
        margin-bottom: 0.198em;
        font-weight: normal;
        letter-spacing: 0.05em;
        animation-delay: 2s;
        animation-duration: 2.5s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        @include media($large-screen) {
          font-size: 3.375em;
          -webkit-text-stroke-width: 4px;
        }
      }
    }
  }
}
