.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: 53.75em !default;
  $hero-color: rgba(255, 255, 255, 0.7);
  $gradient-angle: 10deg;
  $hero-image: "../images/tyediehorizontal.jpg";
  $hero-txt-image: "../images/tyedievertical.jpg";

  background: url($hero-image),
              no-repeat scroll;
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-inner {
    @include outer-container($max-width);
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1, h3, p {
        color: $hero-color;
      }
      h1 {
        font-size: 3.375em;
        margin-bottom: 0.296em;
        font-weight: normal;
        letter-spacing: 0.05em;
        @include media($large-screen) {
          font-size: 7.594em;
        }
      }
      h3 {
        font-size: 2.25em;
        margin-bottom: 0.198em;
        font-weight: normal;
        letter-spacing: 0.05em;
        @include media($large-screen) {
          font-size: 3.375em;
        }
      }
      p {
        line-height: 1.4em;
        margin: 0 auto 3em auto;
        @include media($large-screen) {
          font-size: 1.0em;
          max-width: 40%;
        }
      }
    }
  }
}
